*/build
target
buildSrc
*/src/generated
*/javacup/bootstrap
*/javacup/classes
*/javacup/lib
*/javacup/sym.java
*/javacup/parser.java
mondrian.*properties
*.ipr
*.iws
*.iml
.project
.settings
.classpath
.gradle
.idea
*.json
/.vs/slnx.sqlite
