**/build
target
buildSrc
**/src/generated
**/javacup/bootstrap
**/javacup/java
**/javacup/classes
**/javacup/dist
**/javacup/lib
**/javacup/sym.java
**/javacup/parser.java
mondrian/src/main/java/mondrian/olap/ParserSym.java
mondrian/src/main/java/mondrian/olap/Parser.java
mondrian/src/main/java/mondrian/parser/MdxParserImpl.java
mondrian/src/main/java/mondrian/parser/MdxParserImplConstants.java
mondrian/src/main/java/mondrian/parser/MdxParserImplTokenManager.java
mondrian/src/main/java/mondrian/parser/ParseException.java
mondrian/src/main/java/mondrian/parser/SimpleCharStream.java
mondrian/src/main/java/mondrian/parser/Token.java
mondrian/src/main/java/mondrian/parser/TokenMgrError.java
mondrian.*properties
*.ipr
*.iws
*.iml
.project
.settings
.classpath
.gradle
.idea
*.json
/.vs/slnx.sqlite
